{% extends 'base.html' %}

{% block title %}Product Form - E-Commerce App{% endblock %}

{% block header %}Product Form{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Product</h2>
        <form method="post" enctype="multipart/form-data" action="{% if form.instance.pk %}{% url 'product_update' pk=form.instance.pk %}{% else %}{% url 'product_create' %}{% endif %}">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.name }}
            </div>
            
            <div class="form-group">
                {{ form.description }}
            </div>
            
            <div class="form-group">
                {{ form.price }}
            </div>
            
            <div class="form-group">
                {{ form.quantity_in_stock }}
            </div>
            
            <div class="form-group">
                {{ form.image }}
            </div>
            
            <button type="submit" class="btn btn-primary">Save Product</button>
        </form>
    </div>
{% endblock %}
